<p id="notice"><%= notice %></p>

<h1><%= "#{t('message.listing')} #{@kinds.model.model_name.human(count: @kinds.count)}" %></h1>

<table>
  <thead>
    <tr>
      <th><%=  @kinds.model.human_attribute_name('kind') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @kinds.each do |kind| %>
      <tr>
        <td><%= kind.description %></td>
        <td><%= link_to t('buttons.show'), kind %></td>
        <td><%= link_to t('buttons.edit'), edit_kind_path(kind) %></td>
        <td><%= link_to t('buttons.destroy'), kind, method: :delete, data: { confirm: t('message.confirm') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "#{t('buttons.new')} #{@kinds.model.model_name.human}", new_kind_path, class: 'waves-effect waves-light btn' %>
