<h1><%=  t('activerecord.models.kind.one') %></h1>
<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('activerecord.attributes.kind.description') %>: </strong>
  <%= @kind.description %>
</p>

<%= link_to "#{t('buttons.edit')}", edit_kind_path(@kind), class: 'waves-effect waves-light btn' %>
<%= link_to t('buttons.back'), kinds_path, class: 'waves-effect waves-light btn' %>
