<h1>Seja bem-vindo!</h1>

 <h3>Olá, <%= name %></h3>

<ul>
  <li>
    <%= link_to 'Home', home_index_path %>
  </li>
  <li>
    <%= link_to 'Telefone', phones_path %>
  </li>
  <li>
    <%= link_to 'Tipos', kinds_path %>
  </li>
  <li>
    <%= link_to 'Contato', contacts_path %>
  </li>
  <li>
    <%= link_to 'Endereço', addresses_path %>
  </li>
</ul>
