<%= form_for(contact) do |f| %>
<% if contact.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

  <ul>
    <% contact.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="field">
  <%= f.label :name %>
  <%= f.text_field :name %>
</div>

<div class="field">
  <%= f.label :email %>
  <%= f.text_field :email %>
</div>

<div class="field">
  <%= f.label :kind_id %>
  <%= f.collection_select(:kind_id, @kind_options_for_select, :id, :description) %>
</div>


<%= f.fields_for :address do |address_form| %>

<div class="field">
  <%= address_form.label :street %>
  <%= address_form.text_field :street %>
</div>
<div class="field">
  <%= address_form.label :city %>
  <%= address_form.text_field :city %>
</div>
<div class="field">
  <%= address_form.label :state %>
  <%= address_form.select :state, options_for_states(@contact.address.state) %>
</div>
<% end %>


<div id="phones">
  <%= f.fields_for :phones do |phones_forms| %>
    <%= render partial: "phone_fields", locals: { f: phones_forms } %>
  <% end %>

</div>


<div class="field">
  <%= f.label :rmk %>
  <%= f.text_area :rmk %>
</div>

<div class="actions">
  <%= f.submit %>
</div>
<% end %>
