<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('activerecord.attributes.address.street') %>:</strong>
  <%= @address.street %>
</p>

<p>
  <strong><%= t('activerecord.attributes.address.city') %>:</strong>
  <%= @address.city %>
</p>

<p>
  <strong><%= t('activerecord.attributes.address.state') %>:</strong>
  <%= @address.state %>
</p>

<p>
  <strong><%= t('activerecord.attributes.address.contact') %>:</strong>
  <%= @address.contact.name %>
</p>

<%= link_to "#{t('buttons.edit')}", edit_address_path(@address), class: 'waves-effect waves-light btn' %>
<%= link_to t('buttons.back'), addresses_path, class: 'waves-effect waves-light btn' %>
