<nav>
  <div class="nav-wrapper">
    <a href="/" class="brand-logo">&nbsp;&nbsp;rogpeContacts</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li>
        <%= link_to 'Home', home_index_path %>
      </li>
      <li>
        <%= link_to 'Telefone', phones_path %>
      </li>
      <li>
        <%= link_to 'Tipos', kinds_path %>
      </li>
      <li>
        <%= link_to 'Contato', contacts_path %>
      </li>
      <li>
        <%= link_to 'Endereço', addresses_path %>
      </li>
    </ul>
  </div>
</nav>
